<div class="top-bar">
  <div id="sign-text" [routerLink]="['/log-in']">
    <span>Sign in<img id="sign-icon" src="assets/log-in.png"></span>
  </div>
  <div class="top-elem">
    <span>
      Home
    </span>
  </div>
  <div class="top-elem">
    <span>
      About
    </span>
  </div>
  <div class="top-elem">
    <span>
      Contacts
    </span>
  </div>
</div>
<img id="banner-img" src="assets/banner_n.png">
<div class="categories">
  <div class="category-elem">
    <p>Hoodies</p>
  </div>
  <div class="category-elem">
    <p>Sweaters</p>
  </div>
  <div class="category-elem">
    <p>Jeans</p>
  </div>

  <div class="products">
    <div class="clothes">
      <img src="assets/white_hoodie.png" height="280px" width="260px">
      <p>White hoodie</p>
    </div>
  </div>
</div>
