<ng-container *ngIf="logged">
  <p>Hello</p>
  <button (click)="logout()">Log out</button>
  <button [routerLink]="['']">Home</button>
</ng-container>

<ng-container *ngIf="!logged">
  <div class="login-page">
    <input type="text" placeholder="username" [(ngModel)]="username">
    <input type="password" placeholder="password" [(ngModel)]="password">
    <button (click)="login()" class="login-button">Login</button>
    <a [routerLink]="['/register']">Don't have an account? Register</a>
  </div>
</ng-container>

