* {
  font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
}

#sign-up-icon{
  margin-left: 4px;
  width: 14px;
  height: 14px;
}
#cart-icon{
  width: 16px;
  height: 16px;
}
p {
  margin: 0px;
}
.top-bar-elem{
  padding: 8px 12px;
  cursor: pointer;
  border: red 1px;
  transition: all 0.2s;
}
.top-bar-elem:hover, .cart:hover, #log-in:hover{
  background-color: rgb(0, 0, 0, 0.06);
}
.top-bar{
  display: flex;
  column-gap: 70px;
  font-size: 15px;
  align-items: center;
  height: 40px;
  text-align: center;
  place-items: center;
}

#log-in{
  position: absolute;
  top: 10px;
  right: 32px;
  padding: 8px 12px;
  font-size: 15px;
  cursor: pointer;
  transition: all 0.2s;
}
.cart{
  position: absolute;
  top: 12px;
  height: 16px;
  padding-top: 7px;
  padding-right:8px;
  padding-left: 7px;
  padding-bottom: 7px;
  border-radius: 50%;
  right: 135px;
  cursor: pointer;
  transition: all 0.2s;
}

.line{
  height: 0.7px;
  background-color: rgb(223,221,226);
  width: 100%;
  margin-top: 10px;
}

.categories{
  width: 180px;
  padding-top: 10px;
  padding-bottom: 11px;
  align-items: center;
  place-items: center;
  vertical-align: center;
  text-align: center;
  cursor: pointer;
  transition: all 0.2s;
}

.categories:hover{
  background-color: black;
  color: white;
}
